<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {'packages': ['gauge']});

    function drawChart(id, health) {
        var data = google.visualization.arrayToDataTable([
            ['Label', 'Value'],
            ['Health', 0]
        ]);

        var options = {
            width: 400, height: 120,
            redFrom: 0, redTo: 15,
            yellowFrom: 15, yellowTo: 85,
            greenFrom: 85, greenTo: 100,
            minorTicks: 5
        };

        var chart = new google.visualization.Gauge(document.getElementById(id));

        chart.draw(data, options);

        data.setValue(0, 1, health);
        chart.draw(data, options);
    }
</script>

<form action="http://localhost:8080/?page_id=5" method="post" class="report-cards">
    <div class="card-wrapper">
{% for goal in goals %}
    {% set interval = ( goal.daysSinceLastReport < 1 ) ? "24 hours" : goal.daysSinceLastReport|round(0) ~ " days" %}

    <div class="report-card">
        <div class="stats">
            <div class="guage" id="chart{{ goal.id }}"></div>
            <script type="text/javascript">
                function drawChart{{ goal.id }}() {
                    drawChart('chart{{ goal.id }}', {{ goal.health }});
                }
                google.charts.setOnLoadCallback(drawChart{{ goal.id }});
            </script>
            <div class="streaks">
                <div class="stat">Current <span class="number">{{ goal.currentStreak|round(1) }}</span> Streak</div>
                <div class="stat">Longest <span class="number">{{ goal.longestStreak|round(1) }}</span> Streak</div>
            </div>
        </div>
        <div class="report">Did you <strong class="verb">{{ goal.title }}</strong> in the last <span
                    class="duration"><strong>{{ interval }}</strong>?</span>
            <div class="controls"><label class="success"><input type="radio" name="{{ goal.id }}" value="1"> No</label><label
                        class="setback"><input type="radio" name="{{ goal.id }}" value="0"> Yes</label></div>
        </div>
    </div>
{% endfor %}
    </div>
    <p><input class="submit" type="submit" name="submit" value="Submit"></p>
</form>